# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\js_proj\sea-battle\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
